<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GSB-FRAIS {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("assets/vendors/iconfonts/mdi/css/materialdesignicons.css") }}" />
        <link rel="stylesheet" href="{{ asset("assets/vendors/css/vendor.addons.css") }}" />
        <link rel="stylesheet" href="{{ asset("assets/css/shared/style.css") }}" />
        <link rel="stylesheet" href="{{ asset("assets/css/demo_1/style.css") }}">
        <link rel="shortcut icon" href="{{ asset("assets/images/favicon.ico") }}" />
    {% endblock %}    
  </head>

  <body class="header-fixed">
    <nav class="t-header">
      <div class="t-header-brand-wrapper">
        {# <a href="index.html">
          <img class="logo" src="{{ asset("assets/images/logo.svg")}}" alt="">
          <img class="logo-mini" src="{{ asset("assets/images/logo_mini.svg")}}" alt="">
        </a> #}
      </div>
      <div class="t-header-content-wrapper">
        <div class="t-header-content">
          <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
            <i class="mdi mdi-menu"></i>
          </button>
          <ul class="nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="appsDropdown" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-apps mdi-1x"></i>
              </a>
              <div class="dropdown-menu navbar-dropdown dropdown-menu-right" style="text-align:center" aria-labelledby="appsDropdown">
                <div class="dropdown-header">
                  <h6 class="dropdown-title">Paramètres</h6>
                </div>
                <div class="dropdown-body border-top pt-0">
                  <a href="{{path("modifierMdp")}}" class="dropdown-grid">
                    <i class="grid-icon mdi mdi-lock-outline  mdi-3x"></i>
                    <span class="grid-tittle">Modifier mdp</span>
                  </a>
                  <a href="{{path("accueil")}}" class="dropdown-grid">
                    <i class="grid-icon mdi mdi-logout mdi-3x"></i>
                    <span class="grid-tittle">Déconnexion</span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="page-body">
      <div class="sidebar">
        <div class="user-profile">
          <div class="display-avatar animated-avatar">
            <img class="profile-img img-lg rounded-circle" src="{{ asset("assets/images/doctor.png")}}" alt="profile image">
          </div>
          <div class="info-wrapper">
            {# APP.SESSION.GET() #}
            <p class="user-name">{{ app.session.get('nom') ~' '~ app.session.get('prenom')}}</p>
          </div>
        </div>
        <ul class="navigation-menu">
          <li class="nav-category-divider">Tableau de bord</li>
          <li>
            <a href="{{path("consulterFrais")}}">
              <span class="link-title"><b>Consulter Frais</b></span>
              <i class="mdi mdi-folder-plus link-icon"></i>
            </a>
          </li>
          <li>
            <a href="{{path("saisirFrais")}}">
              <span class="link-title"><b>Saisir Frais</b></span>
              <i class="mdi mdi-folder-plus link-icon"></i>
            </a>
          </li>
        </ul>
      </div>
      {% block body %}

      {% endblock %}
    </div>

    {% block javascripts %}
        <script src="{{ asset("assets/vendors/js/core.js")}}"></script>
        <script src="{{ asset("assets/vendors/apexcharts/apexcharts.min.js")}}"></script>
        <script src="{{ asset("assets/vendors/js/vendor.addons.js")}}"></script>
        <script src="{{ asset("assets/vendors/chartjs/Chart.min.js")}}"></script>
        <script src="{{ asset("assets/js/charts/chartjs.addon.js")}}"></script>
        <script src="{{ asset("assets/js/template.js")}}"></script>
        <script src="{{ asset("assets/js/dashboard.js")}}"></script>
    {% endblock %}
  </body>
</html>