{% extends 'common/dom.html.twig'%}
{% block title %}- Visiteur{% endblock %}

{% block body %}

    <div class="authentication-theme auth-style_1">
        <h1 style="text-align:center; margin-bottom:40px; color: #114da6; "><b>Saisir une fiche</b></h1>
        <div class="row">
            <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto">
                

                <div class="grid">
                
                    <div class="grid-body">
                        <div class="item-wrapper">
                            {{form_start(formulaireSaisirFrais)}}
                                
                                <h2 class="grid-header">Frais au forfait : </h2>
                                
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFrais.mois)}}
                                   
                                </div>
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFrais.forfaitEtape)}}
                                </div>
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFrais.fraisKm)}}
                                </div>
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFrais.nuiteeHotel)}}
                                </div>
                                 
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFrais.repasRestaurant)}}
                                </div>
                                 {# <h2 class="grid-header">Frais hors forfait  : </h2>
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFrais.date)}}
                                </div>
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFrais.libelle)}}
                                </div>
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFrais.montant)}}
                                </div> #}
                                
                                
                                <div class ="form-group"> 
                                   
                                    {{form_row(formulaireSaisirFrais.envoyer)}}
                                </div>
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFrais.annuler)}}
                                </div>
                            {{form_end(formulaireSaisirFrais)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    
                        
                    
                             
   
{% endblock %}
